// rules for css 



// colors 
$black: black;
$gray: rgb(91, 90, 90);
$yellow: rgb(215, 206, 104);
$white: rgb(244, 242, 242);
$green: rgb(126, 209, 126);
$magenta: rgb(185, 86, 185);
$osc-gray: rgb(17, 17, 17); 
// fontsize
$font-title: 20px;
$font-text: 15px;
// font family
$font-family: arial;

$border-radius: 10px;
